* {
	border: none;
	font-family: "JetBrainsMono Nerd Font Propo, monospace";
	font-size: 14px;
	/* font-weight: bold; */
	min-height: 0;
}

window#waybar {
	background-color: #000000;
	color: #ffffff;
}

#workspaces button {
	padding: 0 6px;
}

#battery.discharging.warning {
	color: #ffa500;
}

#battery.discharging.critical {
	color: #ff0000;
}

#clock,
#battery,
#window,
#custom-brightness,
#memory,
#network,
#mpris,
#bluetooth,
#pulseaudio,
#tray {
	padding: 0 8px;
}

/* add grey color to some modules */
#network,
#memory,
#bluetooth,
#pulseaudio,
#custom-brightness,
#battery {
	color: #cccccc;
}

/* custom modules */
#custom-screenrecording-indicator {
	color: #ff0000;
}
