* {
	border: none;
	font-family: "JetBrainsMono Nerd Font Propo, monospace";
	font-size: 12px;
	font-weight: bold;
	min-height: 0;
}

window#waybar {
	background-color: #000000;
	color: #ffffff;
}

#workspaces button {
	padding: 0 6px;
}

#clock,
#battery,
#window,
#custom-brightness,
#memory,
#network,
#mpris,
#bluetooth,
#pulseaudio,
#tray {
	padding: 0 8px;
}

/* custom modules */
#custom-screenrecording-indicator {
	color: #ff0000;
}
