output "eDP-1" {
    mode "1920x1080@60"				// To know the displays run `niri msg outputs`
    scale 1.25						// Integer fractional scaling for percentage fractional scaling
    transform "normal"
}

output "HDMI-A-1" {
    mode "1920x1080@100"
}
