window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
	// Anchor to the top edge of the screen.
    default-floating-position x=20 y=20 relative-to="bottom-right"
    // Half of the screen high.
    default-window-height { proportion 0.5; }
    // 80% of the screen wide.
    default-column-width { proportion 0.4; }
}

window-rule {
	match app-id="zen"
	match app-id="chromium"
	
	open-maximized-to-edges true
}

// Rounded cornors for all windows
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// Noctalia shell is not able to set wallpaper if this is not false
layer-rule {
	match namespace="^noctalia-wallpaper*"
	place-within-backdrop false
}
