window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    open-floating true
	// Anchor to the top edge of the screen.
    default-floating-position x=20 y=20 relative-to="bottom-right"
    // Half of the screen high.
    default-window-height { proportion 0.5; }
    // 80% of the screen wide.
    default-column-width { proportion 0.4; }
}

window-rule {
	match app-id="zen"
	match app-id="chromium"
	match app-id="google-chrome"
	match app-id="brave-browser"
	match app-id="librewolf"

	open-maximized true
}

// Floating window for my bash scripts
window-rule {
	match app-id="TUI.float"
	match app-id="Wifitui"

	open-floating true
  default-column-width { proportion 0.75; }
  default-window-height { proportion 0.7; }
}

// KDE file picker
window-rule {
  match app-id="org.freedesktop.impl.portal.desktop.kde"

  open-floating true
}

window-rule {
    match app-id="mpv"
    // Properties
    open-floating true
  default-column-width { proportion 0.7; }
  default-window-height { proportion 0.8; }
}

// Rounded cornors for all windows
window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

// Noctalia shell is not able to set wallpaper if this is not false
layer-rule {
	match namespace="^noctalia-wallpaper*"
	place-within-backdrop false
}
